# Dependencies
node_modules

# Build output
dist
dist-ssr
storybook-static
print-preview.pdf

# TypeScript
*.tsbuildinfo

# Test coverage
coverage

# Logs
*.log
*storybook.log

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editors
.idea
*.swp
*.swo
*~

# Local overrides
*.local

# Live ngrok tunnel URLs (written by `pnpm tunnels`)
.tunnels.json
